.my-footer {
  height: 10em;
  background-color: #163b65;
  margin-top: 1.5em;
  padding: 1em;
  color: #ffffff;
  font-size: 100%;
}

.room-image {
  max-width: 50%;
}

.datepicker {
  z-index: 10000;
}

.navvar-right {
  float: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoe ui", verdana, helvetica, arial, sans-serif;
  font-size: 16px;
  transition: all 500ms ease;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
}

.row1 {
  background-color: rgba(20, 120, 200, 0.6);
  color: #fff;
  text-align: center;
  padding: 2em 2em 0.5em;
  width: 90%;
  margin: 2em auto;
  border-radius: 5px;
}
.row1 h1 {
  font-size: 2.5em;
}
.row1 .form-group {
  margin: 0.5em 0;
}
.row1 .form-group label {
  display: block;
  color: #fff;
  text-align: left;
  font-weight: 600;
}
.row1 .form-group input,
.row1 .form-group button {
  display: block;
  padding: 0.5em 0;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #555;
  color: #eee;
}
.row1 .form-group input:focus,
.row1 .form-group button:focus {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 1em 0.5em;
  animation: pulse 1s infinite ease;
}
.row1 .form-group button {
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  -moz-user-select: none;
  user-select: none;
  color: #333;
  font-weight: 800;
  cursor: pointer;
  margin-top: 2em;
  padding: 1em;
}
.row1 .form-group button:hover,
.row1 .form-group button:focus {
  background-color: #fff;
}
.row1 .form-group button.is-loading::after {
  animation: spinner 500ms infinite linear;
  content: "";
  position: absolute;
  margin-left: 2em;
  border: 2px solid #000;
  border-radius: 100%;
  border-right-color: transparent;
  border-left-color: transparent;
  height: 1em;
  width: 4%;
}
.row1 .footer h5 {
  margin-top: 1em;
}
.row1 .footer p {
  margin-top: 2em;
}
.row1 .footer p .symbols {
  color: #444;
}
.row1 .footer a {
  color: inherit;
  text-decoration: none;
}

.information-text {
  color: #ddd;
}

@media screen and (max-width: 320px) {
  .row1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .row1 h1 {
    font-size: 1.5em !important;
  }
}
@media screen and (min-width: 900px) {
  .row1 {
    width: 50%;
  }
}

.pull-right{
  float: right;
}
.pull-left{
  float: left;
}