.my-footer {
  height: 10em;
  background-color: #163b65;
  margin-top: 1.5em;
  padding: 1em;
  color: #ffffff;
  font-size: 100%;
}

.room-image {
  max-width: 50%;
}

.datepicker {
  z-index: 10000;
}
