{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row1">
            <div class="col">
                <h1>Reset Password</h1>

                <form method="post" action="/user/change-password" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                    <div class="form-group">
                        <label for="password">New Password:</label>
                        {{with .Form.Errors.Get "password"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}}"
                               id="password" autocomplete="off" type='password'
                               name='password' value="" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="password">Confirm new Password:</label>
                        {{with .Form.Errors.Get "password_confirm"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "password_confirm"}} is-invalid {{end}}"
                               id="password_confirm" autocomplete="off" type='password'
                               name='password_confirm' value="" required>
                    </div>

                    <hr>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
                
            </div>
            
        </div>
        <div class="signup-wrapper text-center">
            <a href="/user/signup"><font color="#agasd">Don't have an account?</font> <span class="text-primary"><b>Create One</b></span></a>
            
        </div>
    </div>
{{end}}
